h2 {
	color: green;
}
.error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	font-size: 16px;
	display: flex;
	align-items: center;
}
